<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{admin/head :: head}"></head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:insert="~{admin/navigation}"></nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <h1 th:text="#{admin.users}"></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin" th:text="#{admin.users}"></a>
            </li>
            <li class="breadcrumb-item active" th:text="#{admin.users.all}"></li>
        </ol>
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="usersDataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th th:text="#{admin.users.userName}"></th>
                                <th th:text="#{admin.users.name}"></th>
                                <th th:text="#{admin.users.email}"></th>
                                <th th:text="#{admin.users.role}"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th th:text="#{admin.users.userName}"></th>
                                <th th:text="#{admin.users.name}"></th>
                                <th th:text="#{admin.users.email}"></th>
                                <th th:text="#{admin.users.role}"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.3.1/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/jquery-easing-original/1.4.1/jquery.easing.min.js"></script>
<script src="/webjars/datatables/1.10.19/media/js/jquery.dataTables.min.js"></script>
<script src="/webjars/datatables/1.10.19/media/js/dataTables.bootstrap4.min.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/admin-datatables.js"></script>
<script>
    $(document).ready(function() {
        createDataTable('usersDataTable', '/admin/users/list', [
            {
                data: "userName",
                orderable: true
            }, {
                data: "name",
                orderable: false
            }, {
                data: "email",
                orderable: true
            }, {
                data: "role",
                orderable: true
            }
        ]);
    })
</script>
</body>
</html>