<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link href="/webjars/bootstrap/4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>
<form class="form-signin" th:action="@{/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal" th:text="#{login.signIn}"></h1>
    <div th:if="${param.error}" class="alert alert-danger" role="alert" th:text="#{invalid.credentials}"></div>

    <label for="username" class="sr-only" th:text="#{login.userName}"></label>
    <input type="text" id="username" name="username" class="form-control" th:placeholder="#{login.userName}"
           required autofocus>

    <label for="password" class="sr-only" th:text="#{login.password}"></label>
    <input type="password" id="password" name="password" class="form-control" th:placeholder="#{login.password}"
           required>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"><span th:text="#{login.rememberMe}"></span>
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.login}"></button>
    <p class="mt-5 mb-3 text-muted" th:text="#{footer.copyright}"></p>
</form>
</body>
</html>