<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{head :: head}"></head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:insert="header"></nav>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-4">
                    <span th:text="${config.TITLE}"></span>
                    <small th:text="${config.SUBTITLE}"></small>
                </h1>
                <div th:each="post: ${posts}" class="card mb-4">
                    <div class="card-body">
                        <a th:href="${@urlUtils.post(post)}"><h2 th:text="${post.title}" class="card-title"></h2></a>
                        <p th:text="${post.content}" class="card-text"></p>
                        <a th:text="#{post.read.more}" th:href="${@urlUtils.post(post)}" class="btn btn-primary"></a>
                    </div>
                    <div class="card-footer text-muted">
                        <i class="fa fa-clock-o"></i>
                        <span th:text="#{post.published.at}"></span>
                        <span th:text="${#temporals.format(post.publishedAt.toZonedDateTime(), 'MMMM dd, YYYY HH:mm')}"></span>
                        <i class="fa fa-tag"></i>
                        <span th:text="#{post.tags}"></span>
                        <th:block th:each="tag: ${post.tags}">
                            <a th:text="${tag.name}" th:href="${@urlUtils.postListByTag(tag)}"></a>
                        </th:block>
                    </div>
                </div>
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item" th:classappend="${posts.last} ? 'disabled' : ''">
                        <a class="page-link" th:href="${@urlUtils.olderPage(urlPrefix, posts)}" th:text="#{post.list.older}"></a>
                    </li>
                    <li class="page-item" th:classappend="${posts.first} ? 'disabled' : ''">
                        <a class="page-link" th:href="${@urlUtils.newerPage(urlPrefix, posts)}" th:text="#{post.list.newer}"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4" th:insert="~{sidebar :: sidebar}"></div>
        </div>
    </div>
    <footer th:replace="~{footer :: footer}"></footer>
    <script src="/webjars/jquery/3.3.1/dist/jquery.slim.min.js" ></script>
    <script src="/webjars/bootstrap/4.1.1/dist/js/bootstrap.min.js"></script>
</body>
</html>
